.main
    margin-top 50px
    a
        display block
        inset 0
        color #fff
    h1
        min-width 360px
        font-size 48px
        width fit-content
        margin auto
        text-align center